@charset "utf-8";

.a1{
    position: absolute;
    width: 300px;
    height: 40px;
    left: calc(50% - 300px/2 - 3.5px);
    bottom: 660px;
    background: rgba(238, 237, 233, 0.74);
    border: 1px solid rgba(113, 113, 113, 0.5);
    border-radius: 20px;
}

.a2{
    position: absolute;
    width: 300px;
    height: 40px;
    left: calc(50% - 300px/2 - 3.5px);
    bottom: 580px;
    background: rgba(238, 237, 233, 0.74);
    border: 1px solid rgba(113, 113, 113, 0.5);
    border-radius: 20px;
}

.a3{
    position: absolute;
    width: 300px;
    height: 40px;
    left: calc(50% - 300px/2 - 3.5px);
    bottom: 500px;
    background: rgba(238, 237, 233, 0.74);
    border: 1px solid rgba(113, 113, 113, 0.5);
    border-radius: 20px;
}


.a4{
    position: absolute;
    width: 300px;
    height: 40px;
    left: calc(50% - 300px/2 - 3.5px);
    bottom: 420px;
    background: rgba(238, 237, 233, 0.74);
    border: 1px solid rgba(113, 113, 113, 0.5);
    border-radius: 20px;
}

.a5{
    position: absolute;
    width: 300px;
    height: 40px;
    left: calc(50% - 300px/2 - 3.5px);
    bottom: 340px;
    background: rgba(238, 237, 233, 0.74);
    border: 1px solid rgba(113, 113, 113, 0.5);
    border-radius: 20px;
}

.a6{
    position: absolute;
    width: 300px;
    height: 40px;
    left: calc(50% - 300px/2 - 3.5px);
    bottom: 260px;
    background: rgba(238, 237, 233, 0.74);
    border: 1px solid rgba(113, 113, 113, 0.5);
    border-radius: 20px;
}


input::placeholder {
    position: absolute;
    width: 42px;
    height: 23px;
    left: calc(50% - 42px/2 - 115.5px);
    bottom: 665px;
    text-indent: 17px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #b41fcc;
}

input[type=text] {
    text-indent: 17px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}

input[type=password] {
text-indent: 17px;
font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
}

body::background {
position: absolute;
width: 558px;
height: 1005px;
left: -144px;
top: -170px;
}

form { 
background-image: url(clouds.jpg);
position: absolute;
width:  375px;
height: 812px;

}

button {
    position: absolute;
width: 300px;
height: 40px;
left: calc(50% - 300px/2 + 0.5px);
bottom: 124px;
border-radius: 20px;

background: #b41fcc;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
    position: absolute;
width: 208px;
height: 25px;
left: calc(50% - 208px/2 - 0.5px);
bottom: 7px;

font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.reg {
position: absolute;
width: 230px;
height: 31px;
left: 69px;
top: 53px;

font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 41px;
display: flex;
align-items: center;

color: #b41fcc;
}